@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Raleway:ital,wght@1,700&family=Teko:wght@600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    body {
        @apply font-body text-[#232428]
    }
}

@layer components {
    .headerLink {
        @apply font-links cursor-pointer opacity-75 transition hover:opacity-100 text-[#FCFCFC] text-lg font-semibold tracking-wider;
    }

    .headerIcon {
        @apply h-6 w-6 cursor-pointer opacity-75 transition hover:opacity-100 fill-[#FCFCFC];
    }

    .container {
        max-width: 1820px;
        margin: 0 auto;
        padding: 0 10px;
    }
    .container-fluid {
        max-width: 1220px;
        margin: 0 auto;
        padding: 0 10px;
    }
}